.myProfilePage {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 1170px;
  margin: 30px auto;
  width: 100%;
}

.profileBlock {
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.25);
  padding: 35px 40px;
  border-radius: 8px;
}

.myProfileBlock {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.profileMiddleBlocks {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 25px;
  width: 48%;
}

.profileNameBlock {
  display: flex;
  align-items: flex-end;
  gap: 20px;
}

.profileNameBlock > img {
  width: 130px;
  height: 130px;
  border-radius: 10px;
}

.profileNameBlock > button {
  padding: 7px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: var(--2-d-9-efb, #2d9efb);
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.eachProfileField {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profileFieldName {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profileFieldName > span {
  color: #333;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.eachProfileField > input {
  padding: 15px;
  outline: none;
  border-radius: 8px;
  border: 1px solid #bebebe;
  background: #fff;
}

.eachProfileField > select {
  padding: 15px;
  outline: none;
  border-radius: 8px;
  border: 1px solid #bebebe;
  background: #fff;
}

.eachProfileField > textarea {
  height: 117px;
  padding: 15px;
  outline: none;
  border-radius: 8px;
  resize: none;
  border: 1px solid #bebebe;
  background: #fff;
}

.cursor {
  cursor: pointer;
}

.profileButton {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.profileButton > button {
  width: 260px;
  padding: 14px;
  border-radius: 13px;
  border: none;
  background: var(--2-d-9-efb, #2d9efb);
  color: #fff;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}

@media screen and (max-width: 1240px) {
  .myProfilePage {
    padding: 0 20px;
  }
}
